@import url("reset.css");

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* interactive board */
.board {
    height: 50vw;
    width: 50vw;
    display: grid;
}
/* buttons and input */
.interactive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container> * {
    border: solid red;
}